.container {
  display: grid;
  grid-template-columns: 119px 1fr;
}
.content {
  padding: 26px 80px 24px 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
