.container {
  width: 344px;
  box-shadow: 8px 8px 25px rgba(2, 2, 70, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 37px 32px 37px;
}
.container {
  background: #ffffff;
  height: 486px;
  justify-content: space-between;
}

.title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  align-self: flex-start;
  margin-bottom: 13px;
}

.role, .date {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    align-self: flex-start;
    margin-bottom: 13px;
  }

  .img__meeting {
    width: 270px;
    margin-bottom: 16px;
  }