* {
  box-sizing: border-box;
}

.container {
  width: calc(93% - 160px);
  height: calc(90% - 200px);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  color: #2E3A59;
  position: absolute;
  margin: 50px auto;
}

.header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 357px;
  height: 63.32px;
  background: #2E294E;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24.8611px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

button:hover {
  background-color: #FFC430;
  transition: all 0.3s ease-in-out;
}

button:disabled {
  background-color: #A0A0A0;
}

.game {
  width: 100%;
  height: 90%;
  background-color: #F7F9FC;
  border: 1px solid var(--border-color);
  position: relative;
  box-sizing: content-box;
}

.word {
  min-width: 60px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: calc(100% / 2);
  border-bottom: 12px solid #FFC430;
  padding-bottom: 2px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
}

.car {
  width: 80px;
  height: 80px;
  position: absolute;
  top: calc(95% - 100px);
  left: calc((100% / 2) - 25px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .car img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}  */

.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter,
.time,
.errors,
.level {
  width: 173.06px;
  height: 90px;
  background: var( --background-table);
  box-shadow: 0.874016px 1.74803px 6.99213px -0.874016px var(--box-shadow);

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: var(--color);
  padding: 16px 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.span {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28.8425px;
  line-height: 43px;
  letter-spacing: 0.005em;
  color: var(--color);
}

.icons {
  font-size: 30px;
  font-weight: 600;
  color: #3BB54A;
}

.span_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  width: fit-content;
  height: 30px;
  border-bottom: 20px solid var(--headers-border-color);
  padding-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 28px;
  color: var(--headers-color);
}

.link {
  text-decoration: none;
}