.container {
  width: fit-content;
  margin: 0 auto;
}
.login__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 64px 49px 64px;
  box-shadow: var(--border-color-page) 8px 8px 25px;
  margin-top: 40px;
}
h3 {
  font-size: 36px;
  color: var(--color-text);
}
.google__button {
  position: relative;
  display: flex;
  align-items: center;
}
.google__button > div {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 580px;
  padding: 8px 0;
  border: 1px #eaeaea solid;
}
.google__button > div button p {
  margin-left: 20px;
}
.google__button > img {
  width: 37px;
  height: 37px;
  position: absolute;
  left: 182px;
}
.or {
  display: flex;
  align-items: center;
}
.or > div {
  width: 266px;
  height: 1px;
  background: #eaeaea;
}
.or > p {
  font-size: 26px;
  color: var(--color);
  margin: 12px;
}
.inputs {
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 62px;
}
.inputs > input {
  width: 580px;
  padding: 15px;
  border: 1px var(--border-color) solid;
  background-color: transparent;
  color: var(--color-text);
}
.inputs > input::placeholder {
  color: var(--color);
}
.login__button {
  background: #2E294E;
  width: 580px;
  margin-bottom: 28px;
}
.login__button > button p{
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
}
.login__input > p {
  color: #a0a0a0;
  font-size: 20px;
}
.login__input a {
  cursor: pointer;
  text-decoration: none;
  color: #2E294E;
}
.login__input a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.errorRed {
  color: red;
}

@media (max-width: 1599px) {
  .login__input {
    padding: 33px 42px 39px 42px;
    margin-top: 60px;
  }
  h3 {
    font-size: 32px;
  }
  .inputs {
    gap: 20px;
    margin-bottom: 40px;
  }
  .inputs > input {
    width: 450px;
  }
  .login__button {
    width: 450px;
  }
}

@media (max-width: 999px) {
  .login__input {
    padding: 0 20px 15px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 24px;
  }
  .inputs {
    gap: 8px;
    margin-bottom: 20px;
  }
  .inputs > input {
    width: 330px;
    margin-bottom: 10px;
  }
  .login__button {
    width: 330px;
  }
  .login__button > button p {
    font-weight: 700;
    font-size: 18px;
  }
  .login__input > p {
    font-size: 14px;
  }
  .errorRed {
    font-size: 14px;
  }
}

@media (max-width: 639px) {
  .login__input {
    padding: 0 15px 10px 15px;
    margin-top: 25px;
  }
  h3 {
    font-size: 18px;
  }
  .inputs {
    gap: 8px;
    margin-bottom: 15px;
  }
  .inputs > input {
    width: 200px;
    padding: 8px;
    margin-bottom: 5px;
  }
  .login__button {
    width: 200px;
  }
  .login__button > button p {
    font-weight: 700;
    font-size: 18px;
  }
  .login__input > p {
    font-size: 14px;
  }
  .errorRed {
    font-size: 14px;
  }
}
