.container {
  cursor: pointer;
  padding: 13px 0;
  border: none;
  background: none;
  font-size: 16px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container p {
  margin: 0;
}

.container:disabled {
  background-color: gray;
  cursor: default;
}
