.meetingsBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 76px;
}
.selectTopic {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    color: var(--header-color-select);
}

