.container,
.meeting {
  width: 344px;
  box-shadow: 8px 8px 25px rgba(2, 2, 70, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 37px 32px 37px;
}
.container {
  background: #ffffff;
  height: 486px;
  justify-content: space-between;
}
.meeting {
  background: #2e294e;
  color: #ffffff;
}
a {
  text-decoration: none;
}
.title,
.title__details {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  align-self: flex-start;
  margin-bottom: 13px;
}
.minititle {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
  align-self: flex-start;
  margin-bottom: 13px;
}
.title {
  color: #2E294E;
}
.title__details {
  color: #ffffff;
}
.description {
  font-family: 'SF Pro Display';
  font-size: 18px;
  line-height: 21px;
}
.btnMeeting {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 140px;
  gap: 14.62px;
  width: 225px;
  background: #2E294E;
  color: #FFFFFF;
  border: none;
}
.btnName {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  text-align: center;  
  color: #FFFFFF;
}
.img__meeting {
  width: 270px;
  margin-bottom: 16px;
}
.count__block,
.count__block__details {
  display: flex;
  gap: 8px;
  align-self: flex-start;
  margin-bottom: 13px;
}
.count,
.count__details {
  font-family: 'Poppins';
  font-size: 24px;
  line-height: 36px;
}
.count {
  color: #2E294E;
}
.count__details {
  color: #ffffff;
}
.count__block > svg path {
  fill: #2e294e;
}
.count__block__details > svg path {
  fill: #ffffff;
}
.back__button {
  margin-bottom: 36px;
}
.back__button > button {
  cursor: pointer;
  border: none;
  background: inherit;
  font-size: 36px;
  font-weight: 700;
  color: #c5c5c5;
  display: flex;
  align-items: center;
}
.back__button > button:hover {
  color: #808080;
  transition: all 0.3s ease-in-out;
}
.containerMeeting {
  display: flex;
  gap: 64px;
  margin-bottom: 30px;
}
.roles {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.role {
  padding: 10px 20px;
}
.role__passive {
  cursor: pointer;
  border: 1px #c5c5c5 solid;
}
.role__active {
  cursor: default;
  border: 1px #2e294e solid;
  box-shadow: 4px 4px 15px rgba(2, 2, 70, 0.15);
}
.select__button {
  width: 344px;
  cursor: pointer;
  background: #FFC430;
  align-self: flex-end;
}
.select__button > button p {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
}
.about {
  box-shadow: 8px 8px 25px rgba(2, 2, 70, 0.15);
  border: 1px #2e294e solid;
  padding: 15px 37px 32px 37px;
  display: flex;
  flex-direction: column;
}
.information {
  margin-bottom: 30px;
}
.choice {
  display: flex;
  gap: 10px;
}
.footnote {
  font-size: 18px;
  color: #c5c5c5;
  align-self: flex-end;
  padding-bottom: 3px;
}
