.meetingsBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 76px;
}
.selectTopic {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    color: #2E3A59;
}

