.container {
  display: flex;
  align-items: center;
  gap: 28px;
}
.container > p {
  color: #c5c5c5;
  font-weight: 700;
  font-size: 28px;
  margin: 0;
}
.container a {
  height: 38px;
}
.container svg {
  height: 38px;
  cursor: pointer;
}
.container svg:hover path {
  fill: #808080;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 999px) {
  .container a {
    height: 30px;
  }
  .container svg {
    height: 30px;
  }
}

@media (max-width: 639px) {
  .container a {
    height: 24px;
  }
  .container svg {
    height: 24px;
  }
  .container > p {
    font-size: 20px;
  }
}
