.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 28px;
}
.container > p {
  color: #c5c5c5;
  font-weight: 700;
  font-size: 28px;
  margin: 0;
}
.container a {
  height: 38px;
}
.container svg {
  height: 38px;
  cursor: pointer;
}
.container svg:hover path {
  fill: #808080;
  transition: all 0.3s ease-in-out;
}
.githubs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 5px 10px;
  background: #c5c5c525;
}
.githubs__close {
  display: none;
}
.githubs > a {
  height: 28px;
  font-size: 16px;
  color: #9f9f9f;
}
.githubs > a:hover {
  color: #585858;
}

@media (max-width: 999px) {
  .container a {
    height: 30px;
  }
  .container svg {
    height: 30px;
  }
}

@media (max-width: 639px) {
  .container a {
    height: 24px;
  }
  .container svg {
    height: 24px;
  }
  .container > p {
    font-size: 20px;
  }
}
