.container {
  display: flex;
  align-items: flex-start;
  gap: 75px;
  margin-bottom: 30px;
}
.title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 36px;
  line-height: 28px;
  color: #2E3A59;
}
.meetings > div {
  padding: 20px 20px 10px 20px;
  box-shadow: 8px 8px 25px rgba(2, 2, 70, 0.15);
}
.meeting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px #c6c5c5 solid;
  padding: 8px 15px;
  margin-bottom: 10px;
}
.meeting > p {
  min-width: fit-content;
  font-weight: 600;
  font-size: 24px;
  margin-right: 30px;
}
.date__button {
  width: 150px;
  cursor: pointer;
  background: #FFC430;
  align-self: flex-end;
}
.date__button > button > p {
  font-size: 24px;
  font-weight: 600;
}
.date__button > button {
  color: #000000;
}
.date__button > button:not([disabled]):hover {
  background: #2e294e;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.greeting {
  margin-top: 20px;
  font-size: 24px;
}

@media (max-width: 1599px) {
  .title {
    font-size: 32px;
  }
  .meeting > p {
    font-size: 20px;
    margin-right: 20px;
  }
  .date__button {
    width: 120px;
  }
  .date__button > button > p {
    font-size: 18px;
  }
  .greeting {
    margin-top: 15px;
  }
}

@media (max-width: 999px) {
  h3 {
    margin-top: 8px;
    margin-bottom: 6px;
  }
  .title {
    font-size: 24px;
    padding-bottom: 5px;
  }
  .meetings > div {
    padding: 10px 10px 0.1px 10px;
    box-shadow: 4px 4px 18px rgba(2, 2, 70, 0.15);
  }
  .meeting {
    padding: 4px 7px;
    margin-bottom: 7px;
  }
  .meeting > p {
    font-size: 14px;
    margin-right: 10px;
  }
  .date__button {
    width: 85px;
  }
  .date__button > button > p {
    font-size: 14px;
  }
  .greeting {
    font-size: 18px;
    margin-top: 15px;
  }
}

@media (max-width: 639px) {
  .container {
    align-items: center;
  }
  h3 {
    margin-left: 0;
  }
  .title {
    font-size: 20px;
  }
}
