.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: var(--color);
}

.title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}

.chartGrid {
  stroke: var(--stroke);
}